.idea
laradock/logs
/data
/laradock/.project
.docker-sync
laradock/jenkins/jenkins_home

laradock/logstash/pipeline/*.conf
laradock/logstash/config/pipelines.yml

/.devcontainer/*
!/.devcontainer/devcontainer.example.json
!/.devcontainer/docker-compose.extend-example.yml


.DS_Store
tsa-forum/node-modules
tsa-forum/vendor